/* Estilos para o formulário */
form {
    margin-top: 30px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
  }
  
  /* Estilos para as mensagens de validação */
  .error {
    color: red;
    font-size: 14px;
  }
  